<h2>Edit current user</h2>
<hr>

<div *ngIf="user; else userNotFound">
  <form method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group row">
      <label for="userName" class="col-12 col-md-2 offset-md-1">Username</label>
      <div class="col-12 col-md-8 col-lg-6">
        <input class="form-control" type="text" name="userName" [(ngModel)]="user.userName">
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-12 col-md-2 offset-md-1">First name</label>
      <div class="col-12 col-md-8 col-lg-6">
        <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-12 col-md-2 offset-md-1">Last name</label>
      <div class="col-12 col-md-8 col-lg-6">
        <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-12 col-md-2 offset-md-1">Email</label>
      <div class="col-12 col-md-8 col-lg-6">
        <input class="form-control" type="text" name="email" [(ngModel)]="user.email">
      </div>
    </div>
    <div class="form-group row">
      <label for="status" class="col-12 col-md-2 offset-md-1">Status</label>
      <div class="col-12 col-md-8 col-lg-6">
        <select name="status" class="form-control" [(ngModel)]="user.status">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
          <option value="deleted">Deleted</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button (click)="updateUser()" class="btn btn-outline-success offset-md-1 mr-3">Update</button>
        <a routerLink="" class="btn btn-success">List users</a>
      </div>
    </div>
  </form>
</div>

<ng-template #userNotFound>
  <h3>User not found</h3>
  <a routerLink="" class="btn btn-success">List users</a>
</ng-template>