<h2>Users</h2>

<table>
  <thead>
    <th>id</th>
    <th>User name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>
        <a routerLink="{{ user.id }}">
          {{ user.userName }}
        </a>
      </td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.status }}</td>
      <td>
        <a  class="">Edit</a>
        <a href="#" (click)="removeUser( user.id )" class=" ml-2">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<hr>

<a routerLink="" class="btn btn-success">Home</a>
