<h2>Users</h2>

<div class="row form-group">
  <div class="col-12 col-sm-8 col-lg-6">
    <input type="text" class="form-control" name="userNameSearch" (keyup.enter)="searchUser();" [(ngModel)]="userNameSearch">
  </div>
  <div class="col-12 col-sm-4 col-lg-2">
    <button class="btn btn-success mt-xs-3" (click)="searchUser();">Search</button>
  </div>
</div>

<div class="alert alert-success" *ngIf='success_message'>
  {{ success_message }}
</div>

<div class="alert alert-danger" *ngIf='error_message'>
  {{ error_message }}
</div>


<table class="table table-hover">
  <thead>
    <th>id</th>
    <th>User name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Actions</th>
  </thead>
  <tbody>

      <tr *ngFor="let user of users" routerLink="users/{{ user.id }}">
        <td>{{ user.id }}</td>
        <td>
          <!-- <a routerLink="users/{{ user.id }}"> -->
            {{ user.userName }}
          <!-- </a> -->
        </td>
        <td>{{ user.firstName | titlecase }}</td>
        <td>{{ user.lastName | titlecase }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status | titlecase }}</td>
        <td (click)="$event.stopPropagation();">
          <a routerLink="/edit_user/{{ user.id }}" role="button" class="">Edit</a>
          <a routerLink="" (click)="removeUser( user.id )" class=" ml-2">Delete</a>
        </td>
      </tr>

  </tbody>
</table>
<hr>

<a routerLink="/new_user" class="btn btn-success">Add user</a>
